<header class="ox-topnav" role="banner">
  <div class="ox-topnav__inner">
    <a href="#about-me" class="ox-topnav__logo">J. Xiong</a>

    <nav class="ox-topnav__nav" aria-label="Primary">
      <button class="ox-topnav__burger" aria-label="Toggle menu" aria-expanded="false">
        <span></span><span></span><span></span>
      </button>
      <ul class="ox-topnav__links">
        {% for link in site.data.navigation.main %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
        <li class="ox-topnav__theme">
          {% include darkmode-toggle.html %}
        </li>
      </ul>
    </nav>
  </div>
</header>
